<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930586473797-fu3tcg3ultkv3sea6hjbqdfkg62frgvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930586473797-fu3tcg3ultkv3sea6hjbqdfkg62frgvn</string>
	<key>API_KEY</key>
	<string>AIzaSyAgDO-oTHbK2WJ_e-KDOj8gwAizQyQHsQw</string>
	<key>GCM_SENDER_ID</key>
	<string>930586473797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scibor.be.toyBox</string>
	<key>PROJECT_ID</key>
	<string>toybox-b4fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>toybox-b4fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930586473797:ios:f385ea1978935836247a2c</string>
</dict>
</plist>