<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>479697266828794</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.scibor.be.toyBox</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb533506264905092</string>
				<string>fb479697266828794</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.853273278883-5ooiua2h3ibv3rdigek8p354bo3s1827</string>
				<string>com.googleusercontent.apps.930586473797-fu3tcg3ultkv3sea6hjbqdfkg62frgvn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fmBox</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>479697266828794</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookClientToken</key>
	<string>4e3020f023e0626ae9efeab646f29103</string>
	<key>FacebookDisplayName</key>
	<string>toyBox</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-ExtraBold.ttf</string>
		<string>Karla-ExtraBoldItalic.ttf</string>
		<string>Karla-ExtraLight.ttf</string>
		<string>Karla-ExtraLightItalic.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Light.ttf</string>
		<string>Karla-LightItalic.ttf</string>
		<string>Karla-Medium.ttf</string>
		<string>Karla-MediumItalic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>Karla-SemiBold.ttf</string>
		<string>Karla-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
